<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.husnain.newproject">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_newkhan"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <activity android:name=".activities.InfoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.SystemConfigActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activities.SelectCityActivity" />
        <activity
            android:name=".activities.MainDrawerActivity"
            android:label="@string/title_activity_main_drawer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TicketingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.DataSyncingActivity"
            android:screenOrientation="portrait"/> <!-- <activity android:name=".SplashActivity" android:theme="@style/Theme.Design.NoActionBar"> -->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="Connect Printer"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".PrintPakage.PrintTicketActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectCity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".MyAccount"
            android:screenOrientation="portrait" />
        <activity android:name=".MyBooking"
            android:screenOrientation="portrait" />
        <activity android:name=".Help"
            android:screenOrientation="portrait"/>
        <activity android:name=".Schedule"
            android:screenOrientation="portrait"/>
        <activity android:name=".SelectSeats"
            android:screenOrientation="portrait"/>
        <activity android:name=".UpdateSeats"
            android:screenOrientation="portrait"/>
        <activity android:name=".Preference_For_Schedule"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SignUpActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>